{% extends 'layout_en.html.twig' %}

{% block content %}
    <h1>Welcome to EcoTour!</h1>
    <p>Welcome to EcoTour, your ultimate companion for immersive travel experiences! Whether you're strolling through historic landmarks, exploring cultural hotspots, or venturing off the beaten path, our app is your gateway to a world of fascinating audio guides. With an extensive collection of curated content, including narrated tours, captivating stories, and stunning visuals, EcoTour transforms your smartphone into a personal tour guide. Explore at your own pace, uncover hidden gems, and dive deep into the heart of each destination with ease. Let's embark on an unforgettable journey together!</p>
    <a class="btn btn-info" href="{{ path('cover') }}"><i class="fa-solid fa-language"></i> Español</a>
{% endblock %}

{% block title %}
    EcoTour - Home
{% endblock %}