{% extends 'layout.html.twig' %}

{% block content %}
    <h1>¡Bienvenido/a a EcoTour!</h1>
    <p>¡Bienvenido/a a EcoTour, tu compañero definitivo para experiencias de viaje inmersivas! Ya sea paseando por lugares históricos, explorando puntos culturales o aventurándote fuera de los caminos trillados, nuestra aplicación es tu puerta de entrada a un mundo de fascinantes audioguías. Con una amplia colección de contenido curado, que incluye recorridos narrados, historias cautivadoras e imágenes impresionantes, EcoTour transforma tu smartphone en un guía turístico personal. Explora a tu propio ritmo, descubre gemas ocultas y sumérgete profundamente en el corazón de cada destino con facilidad. ¡Embárcate en un viaje inolvidable juntos!</p>

{% endblock %}

{% block title %}
    EcoTour - Inicio
{% endblock %}