{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Bienvenido a la app de audioguías</h1>
    <!-- Add any other content you want to display here -->
{% endblock %}

{% block title %}
    Audioguia - Inicio
{% endblock %}