{% extends 'base.html.twig' %}

{% block body %}
    {% for mensaje in app.flashes('success') %}
        <div class="alert alert-success">{{ mensaje }}</div>
    {% endfor %}
    {% for mensaje in app.flashes('error') %}
        <div class="alert alert-error">{{ mensaje }}</div>
    {% endfor %}
    {% include '_navbar.html.twig' %}
    <div class="container mt-5 pt-5">
        {% block content %}
        {% endblock content %}
    </div>
    {% include '_footer.html.twig' %}
{% endblock %}